.contact-section {
  height: auto;
}

.contact-info--wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.contact-info--container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  max-width: 80%;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, .3);
  border-radius: 15px;
  cursor: pointer;
}

.contact-info--container {
  .contact-info__item--container {
    height: 255px;
    transition: .2s all;

    //border-bottom: 1px solid rgba(255, 255, 255, .3);

    a {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 10%;
      height: 100%;

      @media screen and (max-width: 1250px) {
        padding: 7%;
      }
    }

    &:first-child {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 10%;

      @media screen and (max-width: 1250px) {
        padding: 7%;
      }
    }

    &:hover {
      border: 1px solid #FFC149;
      border-bottom: 5px solid #FFC149;
    }

    &:first-child:hover {
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
    }

    &:last-child:hover {
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }

    @media screen and (max-width: 1024px) {
      &:first-child:hover {
        border-top-left-radius: 15px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
      }

      &:nth-child(2):hover {
        border-top-right-radius: 15px;
      }

      &:nth-child(3):hover {
        border-bottom-left-radius: 15px;
      }

      &:last-child:hover {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 15px;
      }
    }

    @media screen and (max-width: 550px) {
      &:first-child:hover {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0px;
      }

      &:nth-child(2):hover {
        border-top-right-radius: 0px;
      }

      &:nth-child(3):hover {
        border-bottom-left-radius: 0px;
      }

      &:last-child:hover {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }
    }
  }
}

.contact-info__item--container:nth-child(odd) {
  border-right: 1px solid rgba(255, 255, 255, .3);
}

.contact-info__item--container:nth-child(even) {
  border-right: 1px solid rgba(255, 255, 255, .3);
}

.contact-info__item--container:last-child {
  border-bottom: none;
  border-right: none;
}

.contact-info__label--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 45%;
}

.contact__info--container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 50%;
}

.contact-info__label {
  width: 72px;
  height: 72px;
  background: linear-gradient(90deg, #F28D1C 0%, #FBC658 100%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  //margin-top: 10%;
}

.contact-info__description {
  margin-top: 2.5%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.7;

  @media screen and (max-width: 1300px) {
    font-size: 12px;
  }
}

@media screen and (max-width: 1024px) {
  .contact-info--container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .contact-info__item--container:nth-child(1), .contact-info__item--container:nth-child(2) {
    border-bottom: 1px solid rgba(255, 255, 255, .3);
  }

  .contact-info__item--container:nth-child(even) {
    border-right: none;
  }
}
@media screen and (max-width: 550px) {
  .contact-info--container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .contact-info__item--container {
    border-bottom: 1px solid rgba(255, 255, 255, .3);
  }

  .contact-info__item--container:last-child {
    border-bottom: none;
  }

  .contact-info__item--container:nth-child(odd) {
    border-right: none;
  }
}

.contact__decor__blue--small {
  top: 10%;
  left: 32%;
}

.contact__decor__blue--large {
  bottom: 18%;
  left: 20%;
}

.contact__decor__orange {
  right: 5%;
  bottom: 15%;
}

.contact-section {
  display: flex;
  flex-direction: column;
}